astroid==2.2.5
autopep8==1.4.4
bandit==1.6.2
beautifulsoup4==4.8.1
boto3==1.9.220
botocore==1.12.220
certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.13
django-allauth==0.39.1
django-appconf==1.0.3
django-badgify==0.3.0
django-bmemcached==0.2.4
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==1.0.1
django-select2==7.1.1
django-sslserver==0.21
django-storages==1.7.1
django-tables2==2.2.1
docutils==0.15.2
future==0.18.2
gitdb==4.0.5
GitPython==3.1.11
gunicorn==19.9.0
idna==2.8
importlib-metadata==2.0.0
isort==4.3.21
jmespath==0.9.4
lazy-object-proxy==1.4.1
mccabe==0.6.1
oauthlib==3.0.2
pbr==5.5.1
Pillow==7.1.0
psycopg2==2.8.3
pycodestyle==2.5.0
PyJWT==1.7.1
pylint==2.3.1
pylint-plugin-utils==0.6
python-binary-memcached==0.28.0
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2019.1
PyYAML==5.3.1
q==2.6
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
s3transfer==0.2.1
six==1.12.0
smmap==3.0.4
social-auth-app-django==3.1.0
social-auth-core==3.2.0
soupsieve==1.9.5
sqlparse==0.3.0
stevedore==3.2.2
typed-ast==1.4.0
typing==3.7.4
uhashring==1.1
urllib3==1.25.3
webexteamssdk==1.6
whitenoise==4.1.2
wrapt==1.11.2
yapf==0.30.0
zipp==3.4.0
