{% extends 'ic_marathon_app/base.html' %}
{% block content %}
{{ form.media }}
<script>
    function openModal() {
        var modal = document.getElementById('modal-fluid');
        var overlay = document.getElementById('modal-overlay');
        modal.className = "modal show";

    }

    function closeModal() {
        var overlay = document.getElementById('modal-overlay');
        var modal = document.getElementById('modal-fluid');
        modal.className = "modal fade";

        window.location.href = "/";
    }

</script>
</br>

<h1 class="display-3">Add a workout</h1>
<div class="divider divider--thick divider--accent-blue divider--compressed"></div>


<form method="POST" id="workoutForm" class="dbl-padding-bottom" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <div class="form-group__text">
                    <label>Distance</label>
                    {{ form.distance }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <div class="form-group__text">
                    <label>Time</label>
                    {{ form.time }}
                    {{form.time.errors}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <div class="form-group__text">
                    <label>Screenshot</label>
                    {{ form.photo_evidence }}
                    {{form.photo_evidence.errors}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <button name="save" type="submit" class="save btn btn--success padding" value="Save">Save</button>
        </div>
    </div>

</form>
{% if new_badges %}

{% comment %}
TODO put the badge and ok boton (and maybe transparency) in the center of the modal
{% endcomment %}

<div class="modal modal--fluid show fade" id="modal-fluid">
    <div class="modal__dialog">
        <div class="modal__content">
            <a class="modal__close" onclick="closeModal()"><span class="icon-close"></span></a>
            <div class="modal__header">

                {% for new_badge in new_badges %}

                <div class="modal__title">{{new_badge.name}}</div>
                {% endfor %}
            </div>
            <div class="modal__body">
                {% for new_badge in new_badges %}

                <p class="subtitle">{{new_badge.description}}</p>
                <img class="w3-round no-padding" src="{{ new_badge.image.url }}">
                {% endfor %}
            </div>
            <div class="modal__footer">
                <button class="btn" onclick="closeModal()">Ok</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>

{% endblock %}