{% extends 'ic_marathon_app/base.html' %} {% block content %} {{ form.media }}
<script>
    function openModal() {
        var modal = document.getElementById('modal-fluid');
        var overlay = document.getElementById('modal-overlay');
        modal.className = "modal show";

    }

    function closeModal() {
        var overlay = document.getElementById('modal-overlay');
        var modal = document.getElementById('modal-fluid');
        modal.className = "modal fade";

        window.location.href = "/";
    }
</script>

<div class="panel panel--loose panel--raised base-margin-bottom">
    <div class="text-uppercase text-size-14 no-padding">Add a workout</div>
    <hr>

    <div class="section no-padding">

        <form method="POST" id="workoutForm" enctype="multipart/form-data">
            {% csrf_token %} {{ form.non_field_errors }}

            <div class="form-group text-normal">
                <div class="qtr-padding-bottom ">
                    <label>Distance(km)</label> 
                    <br>
                    {{ form.distance }}
                </div>
            </div>

            <div class="form-group  text-normal">
                <div class=" qtr-padding-bottom ">
                    <label>Date of workout</label> {{ form.date_time }} {{form.date_time.errors}}
                </div>
            </div>

            <div class="form-group text-normal">
                <div class="qtr-padding-bottom ">
                    <label>Time(hrs/min)</label> {{ form.time }} {{form.time.errors}}
                </div>
            </div>


            <div class="form-group text-normal">
                <div class=" qtr-padding-bottom " >
                    <label>Screenshot</label>
                    {{ form.photo_evidence }}
                    {{form.photo_evidence.errors}}
                </div>
            </div>


<div class="flex flex-center dbl-padding-top ">
            <button name="save " type="submit " class="save btn btn--success padding " value="Save ">Save</button>
        </div>

</form>


{% if new_badges %}

{% comment %}
TODO put the badge and ok boton (and maybe transparency) in the center of the modal
{% endcomment %}

<div class="modal modal-default show fade " id="modal-fluid">
    <div class="modal__dialog ">
        <div class="modal__content ">
            <a class="modal__close " onclick="closeModal()"><span class="icon-close "></span></a>


                    <div class="modal__body ">

                        {% for new_badge in new_badges %}
                                <div class="panel ">
                                    <div class="text-center text-center-xs-down text-size-14 ">{{new_badge.name}}</div>
                                    <div class="flex flex-center content-fluid"><img class="w3-round no-padding " height="210 " width="210 " src="{{ new_badge.image.url }} "></div>
                                    <div class="text-center text-center-xs-down ">{{new_badge.description}}</div>
                                </div>

                        {% endfor %}
                        
                    </div>

            <div class="modal__footer ">
                <button class="btn " onclick="closeModal()">Ok</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}</div></div>