<!-- templates/ic_marathon_app/base.html -->

{% load static %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/icapp.css' %}">
    <link rel="stylesheet" href="{% static 'css/cui-standard.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>Cisco Running!</title>
</head>
<script>
    function wires() {
        $('body .btn-group .btn').click(function () {
            event.preventDefault();

            $(this).siblings().removeClass('selected');
            $(this).addClass('selected');

        });
    };

</script>

<body class="cui styleguide" onload="wires()">



    <div class="content-fluid">

        <nav class="sidebar sidebar--light" role="navigation">
            <div class="sidebar__header">
                <img class="w3-round no-padding avatar" src={{user.profile.avatar}}>
                <div class="sidebar__header-title">Welcome {{user.first_name}}</div>
                
            </div>


            <ul>
                {%if user.profile.cec %}
                <li class="sidebar__item">
                    <a href="{% url 'my_workouts' %}">
                        <span class="icon-bell"></span>
                        <span>My Workouts</span>
                    </a>
                </li>
                {% endif %}
                <li class="divider"></li>
                <li class="sidebar__item">
                    <a href="{% url 'leaderboard' %}">
                        <span class="icon-software-suggested-md"></span>
                        <span>Leaderboard</span>
                    </a>
                </li>
                <li class="sidebar__item">
                        <a href="/badges/">
                            <span class="icon-software-certified"></span>
                            <span>Badges</span>
                        </a>
                </li>
                <li class="sidebar__item">
                    <a href="{% url 'logout'%}"">
                        <span class=" icon-help"></span>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="col-18 col-lg-10 col-xl-10">

            <div class="section">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>


</body>


</html>