<!-- templates/ic_marathon_app/base.html -->

{% load static %} {% load bootstrap4 %} {# import bootstrap4/bootstrap3 #} {% bootstrap_css %} {# Embed Bootstrap CSS #} {% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
<!DOCTYPE html>
<html lang="en">



<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/icapp.css' %}">
    <link rel="stylesheet" href="{% static 'css/cui-standard.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Cisco Running!</title>
</head>

{% block javascript %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

<script>
    function wires() {
        $('body .btn-group .btn').click(function() {
            event.preventDefault();

            $(this).siblings().removeClass('selected');
            $(this).addClass('selected');

        });


    };
</script>
{% endblock javascript %}

<body class="cui styleguide" onload="wires()">

    <div class="content content--alt">

        <div class="content-fluid">

            <nav class="col-lg-1 col-lg-2 sidebar hidden-md-down sidebar--light" role="navigation">
                <div class="base-margin">
                    <img class="image-size-64" src={{user.profile.avatar}}>
                    <div class="text-size-16 ">Welcome {{user.first_name}}</div>
                    {% if user.profile.category == "beginnerrunner" %} {%elif user.profile.category == "runner" %} {% elif user.profile.category == "biker" %}

                    <!-- <img src="{% static 'img/biker.svg' %}" alt="Kiwi standing on oval"> -->


                    {% endif %}

                </div>
                {% if awards%}
                <div class="badges">
                    {% for award in awards %}
                    <img class="w3-round no-padding" height="42" width="42" src="{{ award.badge.image.url }}"> {% endfor %}
                </div>
                {% endif %}

                <ul>
                    {%if user.profile.cec %}
                    <li class="sidebar__item">
                        <a href="{% url 'my_workouts' %}">
                            <span class="icon-manage-cable"></span>
                            <span>My Workouts</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="sidebar__item">
                        <a href="{% url 'leaderboard' %}">
                            <span class="icon-software-suggested-md"></span>
                            <span>Leaderboard</span>
                        </a>
                    </li>


                    <li class="sidebar__item">
                        <a href="/badges/">
                            <span class="icon-software-certified"></span>
                            <span>Badges</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a href="{% url 'logout'%}">
                            <span class="icon-leave-meeting"></span>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="col-18 col-lg-10 col-xl-10">
                <div class="section ">

                    <!-- Nav for Medium devices and lower -->

                    <div class="navbar hidden-lg-up">
                        {%if user.profile.cec %}
                        <a href="{% url 'my_workouts' %}">
                            <span class="icon-manage-cable"></span>
                            <span>My Workouts</span>
                        </a>

                        {% endif %} {% comment %}
                        <a href="{% url 'leaderboard' %}">
                            <span class="icon-software-suggested-md"></span>
                            <span>Leaderboard</span>
                        </a>
                        {% endcomment %}

                        <a href="/badges/">
                            <span class="icon-software-certified"></span>
                            <span>Badges</span>
                        </a>

                        <a href="{% url 'logout'%}">
                            <span class="icon-leave-meeting"></span>
                            <span>Logout</span>
                        </a>
                    </div>

                    <!-- End of Nav -->


                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>


</html>