{% extends 'ic_marathon_app/base.html' %} {% block content %} {% load render_table from django_tables2 %}
<script>
</script>


<div class="header-bar__main">
    <div class="header-heading ">
        <h1 class="page-title">Leaderboard</h1>
    </div>
</div>
<div class="divider divider--thick divider--accent-blue divider--compressed"></div>

{% if leaders_br %}
<div class="header-heading ">
    <h1 class="page-title">Beginner Runners</h1>
</div>
{% render_table leaders_br %} {% endif %} {% if leaders_r %}
<div class="header-heading ">
    <h1 class="page-title">Runners</h1>
</div>
{% render_table leaders_r %} {% endif %} {% if leaders_b %}
<div class="header-heading ">
    <h1 class="page-title">Bikers</h1>
</div>
{% render_table leaders_b %} {% endif %}

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>

{% endblock %}