{% extends 'ic_marathon_app/base.html' %} {% block content %}
<script>
    function closeWarning() {
        var warning = document.getElementById('info-disclaimer');
        warning.className = 'alert hide';
    }

    function select_hidden_category(category) {
        document.getElementById("category_hidden").value = category;
    }

    function openModal() {
        var modal = document.getElementById('modal--full');
        var overlay = document.getElementById('modal-overlay');
        modal.className = "modal show";

    }

    function closeModal() {
        var overlay = document.getElementById('modal-overlay');
        var modal = document.getElementById('modal--full');
        modal.className = "modal fade";

        window.location.href = "/";
    }
</script>
<div class="panel panel--loose panel--raised base-margin-bottom">
    <div class="text-uppercase text-size-14">Save your profile</div>
    <hr>
    <div class="section no-padding">


        {{ form.media.css }}
        <form method="POST" id="categoryForm" class="text-normal">{% csrf_token %}

            <div class="form-group text-normal">
                <div class="form-group text-normal">
                    <label for="input-layout-stacked-1" class="text-normal">CEC</label> 
                    <br>{{ form.cec }}
                </div>
            </div>
            <div class="rcategory-group">

                <input id="category_hidden" name="category" type="hidden" value="beginnerrunner">

            </div><br>
            <div class="form-group">

                <label for="input-layout-stacked-1">Category</label><br>

                <div class="btn-group">


                    {% for choice in form.fields.category.choices %}
                    <button type="submit" name="category" value={{choice.0}} {% if form.initial.category == choice.0 %} class="btn btn--ghost selected" {%else %} class="btn btn--ghost" {% endif %} onclick="select_hidden_category('{{choice.0}}')">{{choice.1}}</button>                    {% endfor %}

                </div>
            </div>

            <br>
            <div class="flex flex-center">
                <button name="save" type="submit" class="save btn btn--success" value="Save">Save</button>
            </div>

        </form>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        {{ form.media.js }}
    </div>

    {% if activation %}
    <div class="modal modal--small show fade" id="modal--full">
        <div class="modal__dialog">
            <div class="modal__content">
                <a class="modal__close" onclick="closeModal()"><span class="icon-close"></span></a>
                <div class="modal__header">
                    <div class="modal__title">
                        SUCCESS!
                    </div>
                </div>
                <div class="modal__body">
                    Let's workout!
                </div>
                <div class="modal__footer">
                    <button class="btn btn--success" onclick="closeModal()">Ok</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %} {% endblock %}

</div>
</div>