{% extends 'ic_marathon_app/base.html' %}
{% block content %}
<script>

    function closeWarning() {
        var warning = document.getElementById('info-disclaimer');
        warning.className = 'alert hide';
    }



</script>
</br>
        
<h1 class="display-3">Edit your Profile</h1>
<div class="divider divider--thick divider--accent-blue divider--compressed"></div>

{{ form.media.css }}
<form method="POST" id="form" class="profile-form dbl-padding-bottom" onsubmit="">{% csrf_token %}

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <div class="form-group__text">
                    <label>Cec</label>
                    {{ form.cec }}
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <div class="form-group dropdown">
                <div class="form-group__text select">
                    <label>Category</label>
                    {{ form.category }}
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <div class="row">


                    <div id='team_selector'>
                        <label style="padding-right: 10px; padding-left: 10px">Team:</label>
                        {{ form.team }}
                    </div>
                    <div class="pad-top">

                        <div class="alert hide" id="info-disclaimer">
                            <div class="alert__icon icon-info-outline"></div>
                            <div class="alert__message">If your team member is not listed, please ask them to log into
                                the system to update our system.</div>
                            <a onclick="closeWarning()" class="alert__close icon-close"></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <button type="submit" class="save btn btn--success padding" name="save_button" value="Save" onclick="">Save
            </button>
        </div>
    </div>

</form>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="http://malsup.github.io/jquery.blockUI.js"></script>
{{ form.media.js }}
{% endblock %}