{% load staticfiles %}
<!doctype html>
<html lang="en">
            <head>
                <meta charset="utf-8">
                <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
                <meta name="viewport" content="width=device-width,initial-scale=1">
                <link href="{% static 'css/cui-standard.min.css' %}" rel="stylesheet" type="text/css">
                <link href="{% static 'css/icapp.css' %}" rel="stylesheet" type="text/css">
                <title>Cisco Running</title>
            </head>
            <body class="cui styleguide" onload="wires()">

                <div class="content content--alt">
            
                    <div class="content-fluid">
        <header class="header">
            <div class="container">
                <div class="header-panels">
                    <div class="header-panel">
                        <a class="header__logo" href="http://www.cisco.com" target="_blank">
                            <span class="icon-cisco"></span>
                                </a>
                        <div class="header__title">Cisco Running</div>
                    </div>
                    <div class="header-panel header-panel--right">
                            <img src="{% static 'img/Pavelka.jpg' %}" style="width: 6%;" />
                        </div>
                </div>
            </div>
        </header>

        <div class="content">
                <div class="container-fluid">
                    <div class="section">
        {% block content %}
        {% endblock %}

    </div></div></div>

</body>

</html>