<!-- templates/login.html -->

{% extends 'registration/base.html' %}
{% block title %} Sign in {% endblock %}
{% block content %}
<div>
        <button class="btn btn--success mb-2">
            <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
        </button>
    </div>

    <div>
        <button class="btn btn--primary  mb-2">
            <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
        </button>
    </div>

    <div>
        <button class="btn btn--secondary  mb-2">   
            <a href="{% url 'social:begin' 'instagram' %}">Login with Instagram</a>
        </button>
    </div>

{% endblock %}