<!-- templates/login.html -->

{% extends 'registration/base.html' %}
{% block title %} Sign in {% endblock %}
{% block content %}
{% load staticfiles %}

<div class="flex flex-center">
    <img class="responsive-img-login"  src="{% static 'img/CR_Logo.png' %}"/>
</div>



<div class="flex flex-center">

<div class="panel panel--loose panel--raised base-margin-bottom">
    <h2 class="subtitle no-margin no-padding">It's time for "Maraton Guadalupe-Reyes"</h2>
    <hr>
    <div>

        <div class="no-padding">
            <a href="{% url 'social:begin' 'google-oauth2' %}"><button class="button-loggin">Login with Google</button></a>
        </div>
        <div>
            <a href="{% url 'social:begin' 'facebook' %}"><button class="button-loggin">Login with Facebook</button></a>
        </div>
        <div>
            <a href="{% url 'social:begin' 'instagram' %}"><button class="button-loggin">Login with Instagram</button></a>
        </div>
    </div>
</div>
</div>
{% endblock %}